.navbar-nav .nav-item{
    margin-top: 3%;
}

.navbar-nav > li{
    padding-left:15px;
    padding-right:15px;
}

.italic-head{
    font-family: 'Pinyon Script';font-size: 22px;
}

.spacing{
    margin-top: 5%;
};

.form-control{
    border:0%;
  }

.btn-primary{

    background-color:white;
    border-color: black;
    color: black;
}

